/* vim:fileencoding=utf-8:foldmethod=marker
*/

/* Define colors */
/* {{{ */
@define-color background1 rgba(32, 32, 48, 1);
@define-color background2 rgba(21, 21, 32, 1);
@define-color sepepator #313244;
@define-color warning #f38ba8;
@define-color caution #45475a;
@define-color performance #f9e2af;
@define-color audio #cba6f7;
@define-color misc #cba6f7;
@define-color date #a6e3a1;
@define-color work #b4befe;
@define-color window #b4befe;
@define-color resize #eba0ac;
@define-color process #89b4fa;
@define-color text #000000;
@define-color disk #eba0ac;

/* }}} */

/* Reset all styles */
/* {{{ */
* {
    border: 0px;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
}

/* }}} */

#waybar {
    border-color: @caution;
    border-style: solid;
    border-bottom-width: 2px;
}

#waybar.left {
    border-right-width: 1px;
}

#waybar.right {
    border-left-width: 1px;
}

/* Main bar defaults */
/* {{{ */
#waybar.left,
#waybar.right {
    background: @background2;
    font-family: "JetBrainsMono Nerd Font propo";
    font-size: 12pt;
    font-weight: 600;
}

#waybar.left button,
#waybar.right button {
    font-family: "JetBrainsMono Nerd Font propo";
    font-size: 14pt;
    font-weight: 600;
}

/* }}} */

#cava,
#waybar.left #custom-headsetbattery,
#waybar.left #custom-nvidia,
#waybar.right #custom-weather,
#waybar.right #custom-weather,
#waybar.left #custom-battery,
#waybar.left #keyboard-state,
#waybar.left #network,
#waybar.left #battery,
#waybar.left #backlight,
#waybar.right #clock,
#waybar.left #cpu,
#waybar.left #language,
#waybar.left #memory.swap,
#waybar.left #memory.ram,
#waybar.left #submap,
#waybar.left #pulseaudio,
#waybar.left #temperature,
#waybar.left #traym,
#waybar.right #window,
#waybar.left #disk,
#waybar.left #workspaces,
#custom-timer {
    padding-left: 8pt;
    padding-right: 8pt;
}

#waybar.left #workspaces button {
    color: @darkgrey;
    background: transparent;
    font-size: 12px;
    padding-left: 3pt;
    padding-right: 2pt;
    border-radius: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    transition: 0.25s ease;
}
