/* vim:fileencoding=utf-8:foldmethod=marker:ft=css
*/

/* Define colors */
/* {{{ */
@define-color background1 #282a36;
@define-color background2 #1E1F29;
@define-color red #ff5555;
@define-color grey #44475a;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color yellow #f1fa8c;
@define-color white #f8f8f2;
@define-color purple #bd93f9;
@define-color pink #ff79c6;
@define-color blue #8be9fd;
@define-color text #000000;

/* }}} */

/* Reset all styles */
/* {{{ */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

/* }}} */

/* Main bar keyframes */
/* {{{ */

/* Keyframes for main bar criticals */

@keyframes blink-urgent-workspace {
    to {
        color: @red;
    }
}

@keyframes blink-critical-text {
    to {
        color: @grey;
    }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
    to {
        color: @grey;
    }
}

@keyframes blink-special-workspace {
    33% {
        background-image: linear-gradient(
            -63.435deg,
            transparent 24%,
            @grey 24%,
            @grey 28%,
            @grey 28%,
            @grey 72%,
            @grey 72%,
            @grey 76%,
            transparent 76%
        );
    }
    100% {
        background-image: linear-gradient(
            -63.435deg,
            transparent 24%,
            @grey 24%,
            @grey 28%,
            @purple 28%,
            @purple 72%,
            @grey 72%,
            @grey 76%,
            transparent 76%
        );
    }
}

/* }}} */

/* Main bar defaults */
/* {{{ */
#waybar.main {
    background: @background2;
    font-family: "JetBrainsMono Nerd Font propo";
    /* font-family: "martianmono nerd font propo"; */

    font-size: 9pt;
    font-weight: 700;
    color: @text;
    /* outline: @grey solid 1px; */

    /* box-shadow: */
    /*   inset 0px 5px 4px -5px rgba(170, 190, 255, 0.5), */
    /*   inset 0px -5px 4px -5px rgba(170, 190, 255, 1); */
}

#waybar.main button {
    font-family: "JetBrains Mono Nerd Font propo";
    font-size: 10pt;
    font-weight: 700;
    color: @text;
}

/* }}} */

/* Main bar modules */
/* {{{ */
#cava,
#waybar.main #custom-headsetbattery,
#waybar.main #custom-nvidia,
#waybar.main #custom-weather,
#waybar.main #custom-weather,
#waybar.main #custom-battery,
#waybar.main #battery,
#waybar.main #backlight,
#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #language,
#waybar.main #memory.swap,
#waybar.main #memory.ram,
#waybar.main #submap,
#waybar.main #pulseaudio,
#waybar.main #temperature,
/* #waybar.main #traym, */
#waybar.main #window,
#waybar.main #disk,
#waybar.main #mpris,
#custom-timer {
    padding-left: 8pt;
    padding-right: 8pt;
}

#waybar.main #custom-weather {
    padding-right: 8pt;
}

#waybar.main #custom-nvidia {
    /* margin-top: -4px; */
    /* margin-bottom: -4px; */
}

/* }}} */

/* Module colors */
/* {{{ */
#waybar.main #custom-nvidia,
#waybar.main #cpu,
#waybar.main #temperature,
#waybar.main #network {
    color: @green;
    background: @background1;
}

#waybar.main #memory.ram,
#waybar.main #memory.swap,
#waybar.main #disk {
    color: @green;
    background: @background0;
}

#cava {
    font-size: 12px;
}

#cava,
#waybar.main #mpris,
#waybar.main #custom-headsetbattery,
#waybar.main #pulseaudio {
    color: @green;
    background: @background2;
}

#waybar.main #custom-battery,
#waybar.main #language,
#waybar.main #backlight,
#waybar.main #battery {
    color: @green;
    background: @background1;
}

#waybar.main #custom-weather,
#waybar.main #clock,
#custom-timer {
    color: @green;
    background: @background1;
}

#waybar.main #clock {
    border-radius: 0pt 6pt 6pt 0pt;
}

#waybar.main #window {
    color: @purple;
    box-shadow: none;
    font-style: italic;
    min-width: 1055px;
    /* padding-right: 200px; */
}

#waybar.main #network.info {
    padding-right: 10px;
    padding-left: 10px;
    color: @grey;
}

#waybar.main #network.info.wifi.normal,
#waybar.main #network.info.ethernet {
    color: @green;
    padding-right: 15px;
}

#waybar.main #network.info.wifi {
    color: @red;
    padding-right: 15px;
}

/* }}} */

/* Submap */
/* {{{ */
#waybar.main #submap.Resize {
    color: @orange;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-modifier-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
    box-shadow: none;
}

#waybar.main #submap.Screenshot {
    color: @yellow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-modifier-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
    box-shadow: none;
}

/* }}} */

/* Main bar criticals */
/* {{{ */
#waybar.main #custom-nvidia.critical,
/* #waybar.main #custom-battery.critical, */
#waybar.main #custom-headsetbattery.critical,
#waybar.main #memory.swap.critical,
#waybar.main #memory.ram.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical {
    color: @red;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}

#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special.urgent {
    transition: all 0s ease;
    background-image: linear-gradient(
        -63.435deg,
        transparent 25%,
        @background2 25%,
        @background2 75%,
        transparent 75%
    );
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-urgent-workspace;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}

/* }}} */

/* Main bar warnings */
/* {{{ */
#waybar.main #custom-headsetbattery.off,
#waybar.main #pulseaudio.output.muted,
#waybar.main #pulseaudio.input.source-muted {
    color: @grey;
}
#waybar.main #custom-headsetbattery.low,
#waybar.main #custom-battery.warning,
#waybar.main #custom-battery.critical {
    color: @red;
}

/* }}} */

/* Battery chargin */
/* {{{ */
#waybar.main #custom-battery.charging {
    color: @green;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-modifier-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}

/* }}} */

/* Workspaces */
/* {{{ */
/* Default workspace settings */

#waybar.main #workspaces {
    /* background: @red; */
    /* min-width: 362px; */
    /* text-align: right; */
    padding-left: 20px;

    padding-right: 4px;
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    /* background-image: linear-gradient( */
    /*     -243.435deg, */
    /*     transparent 17px, */
    /*     @grey 17px, */
    /*     @grey 19px, */
    /*     @background2 20px, */
    /*     @background2 calc(100% -20px), */
    /*     @grey calc(100% -19px), */
    /*     @grey calc(100% - 17px), */
    /*     transparent calc(100% -17px) */
    /* ); */
}

#waybar.main #workspaces button {
    color: @grey;
    background: transparent;
    border: 1.5px solid transparent;
    transition: all 0.25s ease;
    padding-right: 14px;
    padding-left: 14px;
    font-style: italic;
    margin-left: -17px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-image: linear-gradient( */
    /*     -63.435deg, */
    /*     transparent 30%, */
    /*     @background2 30%, */
    /*     @background2 75%, */
    /*     transparent 75% */
    /* ); */
}

/* Focused workspace */
#waybar.main #workspaces button.visible {
    color: @text;
    background-image: linear-gradient(
        -63.435deg,
        transparent 25%,
        @grey 25%,
        @grey 75%,
        transparent 75%
    );
}

/* Focused workspace & monitor */
#waybar.main #workspaces button.active {
    color: @background2;
    font-weight: 900;
    background-image: linear-gradient(
        -63.435deg,
        transparent 24%,
        @grey 24%,
        @grey 29%,
        @purple 29%,
        @purple 71%,
        @grey 71%,
        @grey 76%,
        transparent 76%
    );
}

/* Style when cursor is on the button */
#waybar.main #workspaces button:hover {
    color: @purple;
}

/* #waybar.main #workspaces button.active:hover { */
/*   color: @background2; */
/*   background-image: linear-gradient( */
/*     -63.435deg, */
/*     transparent 24%, */
/*     @grey 24%, */
/*     @grey 28%, */
/*     @purple 28%, */
/*     @purple 73%, */
/*     @grey 73%, */
/*     @grey 76%, */
/*     transparent 76% */
/*   ); */
/* } */

/* Special workplace animation */
#waybar.main #workspaces button.special.active {
    transition: all 0s ease;
    border: 1.5px solid transparent;
    background-image: linear-gradient(
        -63.435deg,
        transparent 24%,
        @grey 24%,
        @grey 28%,
        @grey 28%,
        @grey 72%,
        @grey 72%,
        @grey 76%,
        transparent 76%
    );
    color: black;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-special-workspace;
    animation-duration: 0.5s;
    animation-timing-function: steps(15);
}

/* }}} */

/* Custom icons as spacers */
/* {{{ */
#waybar.main #custom-spacer1,
#waybar.main #custom-spacer2,
#waybar.main #custom-spacer3,
#waybar.main #custom-spacer4 {
    font-size: 16pt;
    font-weight: bold;
    color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: -1px;
    margin-top: -1px;
}

#waybar.main #custom-spacer1 {
    background-image: linear-gradient(
        116.656deg,
        @transparent 47.5%,
        @grey 47.6%,
        @grey 54.4%,
        @background1 54.5%
    );
}

#waybar.main #custom-spacer2 {
    background-image: linear-gradient(
        116.656deg,
        @background1 47.5%,
        @grey 47.6%,
        @grey 54.4%,
        transparent 54.5%
    );
}

#waybar.main #custom-spacer3 {
    background-image: linear-gradient(
        -63.435deg,
        transparent 47.5%,
        @grey 47.6%,
        @grey 54.4%,
        transparent 54.5%
    );
}

#waybar.main #custom-spacer4 {
    background-image: linear-gradient(
        -63.435deg,
        transparent 47.5%,
        @grey 47.6%,
        @grey 54.4%,
        transparent 54.5%
    );
}
/**/
/* #waybar.main #custom-spacer6 { */
/*     background-image: linear-gradient( */
/*         -63.435deg, */
/*         @transparent 47.5%, */
/*         @grey 47.6%, */
/*         @grey 52.4%, */
/*         transparent 52.5% */
/*     ); */
/* } */

/* }}} */

/* Tray */
/* {{{ */
#waybar.main #custom-trayicon {
    font-size: 20px;
    padding-left: 8px;
    color: @blue;
    /* color: transparent; */
    /* font-weight: bold; */
    /* font-style: italic; */
    background: @background1;
    /* background-size: 24px; */
    /* background-position: 2px, 0px; */
    /* background-repeat: no-repeat; */
    /* background-image: url("/home/jan-aarela/.config/hypr/themes/Dracula-Power/pacman.png"); */
}

#waybar.main #tray {
    background: @background1;
    /* border: 3px solid @grey; */
    /* border-radius: 8px; */
    /* margin-right: -100px; */
    padding-right: 8px;
}
/* }}} */

/* Tooltip */
/* {{{ */
tooltip {
    background: @background2;
    border: 3px solid @grey;
    font-weight: 500;
    font-family: "JetBrains Mono Nerd Font";
}

tooltip label {
    color: @green;
    font-weight: 600;
}

tooltip box {
    padding: 8px;
}
/* }}} */

#waybar.border {
    background: transparent;
    font-family: "JetBrainsMono Nerd Font propo";
    /* font-family: "martianmono nerd font propo"; */

    font-size: 10pt;
    font-weight: 700;
    color: @text;
    border: 2px solid @grey;
    /* outline: @grey solid 1px; */

    box-shadow:
        inset 0px 5px 5px -5px rgba(0, 0, 0, 0.5),
        inset 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
}
