/* Colors */
@define-color grey     #e4f3fa;
@define-color darkgrey #7F7F7F;
@define-color white	   #FFFFFF;
@define-color warning  #FF7070;
@define-color critical #FF4040;
@define-color indigo1  #4d4c9f;
@define-color	indigo2  #222146;

/* Keyframes */

@keyframes blink-critical-text {
	to {
		/*color: @white;*/
		color: @warning;
	}
}


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
/*	icon-shadow: none;*/
}

/* The whole bar */
#waybar {
	background: rgba(00, 00, 00, 00);
	color: @white;
	font-family: JetBrains Mono Nerd Font;
	font-size: 12pt;
	font-weight: bold;
}

#waybar button {
  font-family: JetBrains Mono Nerd Font;
  font-size: 12pt;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#submap,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#workspaces button.urgent, 
#workspaces button.special, 
#submap.RESIZE,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	color: @white;
  animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical-text;
	animation-duration: 1s;
}


/* Each warning */ 
#pulseaudio.muted,
#battery.warning.discharging {
	color: @warning;
}


/* And now modules themselves in their respective order */

/* current mode (resize etc) */
#submap {
	color: @darkgrey;
	background: @indigo2;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4pt;
	padding-right: 4pt;
	color: @darkgrey;
	background: @indigo2;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @grey;
	background: @indigo1;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @grey;
	background: @indigo1;
}


/* Style when cursor is on the button */
#workspaces button:hover {
	background: @indigo1;
	color: @white;
}

#workspaces button.special {
    background: @indigo2;
    color: @white; /* Adjust text color for contrast */
}
#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @indigo1;
	color: @white;
  transition: opacity 0.3s ease-in-out;
}

#network {
	background: @indigo2;
	color: @white;
}

#memory {
	background: @indigo1;
	color: @white;
}

#cpu {
	background: @indigo2;
	color: @white;
}

#temperature {
	background: @indigo1;
	color: @white;
}

#language {
	background: @indigo1;
	color: @white;
}

#battery {
	background: @indigo2;
	color: @white;
}

#tray {
	background: @indigo2;
}

#clock.date {
	background: @indigo2;
	color: @white;
}

#clock.time {
	background: @indigo1;
	color: @white;
}

#custom-arrow1 {
	font-size: 12pt;
	color: @indigo1;
	background: @indigo2;
}

#custom-arrow2 {
	font-size: 12pt;
	color: @indigo2;
	background: @indigo1;
}

#custom-arrow3 {
	font-size: 12pt;
	color: @indigo1;
	background: transparent;
}

#custom-arrow4 {
	font-size: 12pt;
	color: @indigo2;
	background: transparent;
}

#custom-icon {
	font-size: 12pt;
	color: @darkgrey;
	background: @indigo2;
}
