layout {
  pane size=1 borderless=true {
    plugin location="zellij:tab-bar"
  }
  
  pane borderless=false

  pane size=2 borderless=true {
    plugin location="zellij:status-bar"{
      disable_status_bar_tips true
    }
  }
}
