* {
  font-family: "jetbrainsmono nerd font mono";
  padding: 0px;
  margin: 0px;
}

#text {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 128px;
}

#entry {
  transition: all 0.1s ease-in-out;
}
